@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");

.caveat-regular {
  font-family: "Caveat", cursive;
  font-weight: 800;
  font-style: normal;
}

/*  scroll bar */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #030b1e;
  border-radius: 5px;
}
